body{
    font-family: Poppins,sans-serif;
}
.container{
    background-image: url(/home/praveen/Downloads/photo_6316539369674094512_w.jpg);
    width: 100vw;
    height: 100vh;
    /* position: fixed; */
    box-sizing: border-box;
    background-attachment: fixed;
    margin: auto;
    
}
li{
    display: inline-block;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
   
}
ul{
    word-spacing: 20px;
}
#let{
    word-spacing: 0px;
}
#let1{
    word-spacing: 0px;
}
.link{
    text-indent: 20px;
   
}
.wel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    color: white;
    font-size: x-large;

}
.button{
    border: 1px solid white;
    text-decoration: none;
    color: white;
    margin-top: 30px;
    padding: 15px 50px;
    border-radius: 30px;
}
.button:hover{
    background-color: green;
}
.wel #myself{
    font-size: xx-large;
    font-size: 40px;
}
.list li:hover{
    color: red;
}
.wel #native{
    font-size: x-large;
}
.anime{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px ;
    font-size: xx-large;
    animation-name: down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
}
@keyframes down {
    50%{
       margin-top: 50px; 
    }
    
}
.about{
    overflow: scroll;
    /* padding: 6.5rem 0; */
    position: relative;
    background-color: #212529;
    width: 100vw;
    height: 100vh;
   
}
.opacity{
    opacity: .1;
    text-align: center;
    margin-top: 80px;
    font-size: 6.25rem;
    color: #6c757d;
}
.know,.span{
    font-size: 40px;
    text-align: center;
    color: white;
    position: relative; 
    top: -220px;
    
}
.know::after{
    content:'';
    height:4px;
    width:120px;
    background: #20c997;
    position:absolute;
    left:calc(46%);
    bottom:-5px;
}
.about1{
    display: flex;
    color: white;
    column-gap: 2rem;
}
.about1 .about2{
    display: flow-root;
    margin-top: -190px;
    margin-left: 100px;
    width: 47rem;
    /* border: 1px solid black; */
    line-height: 2.2rem;
} 
.about1 .about2 p{
    color: #6a6d6d;
}
.about1 .about3{ 
    display: flex;
    flex-direction: column;
    margin-top: -168px;
    margin-right: 40px;
    /* border: 1px solid black;  */
    box-sizing: border-box;
    line-height: 3rem;
}
.about1 .about3 li a{
    text-decoration: none;
    color: #20c997;
}
.about1 .about3 li{
    color: #dee3e4;
}
.cv a{
    display: inline-block;
    text-align: center;
    border: 1px solid white;
    margin-top: 40px;
    border-radius: 30px;
    text-decoration: none;
    padding: 0px 40px;
    color: white;
    background-color: rgb(4, 109, 74);
}
.about1 .about3 li{
    border-bottom: .5px dotted white;
}
.about2 b{
    color:#0fa175 ;
}
.skill{
    overflow: scroll;
    /* padding: 6.5rem 0; */
    position: relative;
    background-color: #3d4852;
    width: 100vw;
    height: 100vh;
}
