html{
  scroll-behavior: smooth;
}
body{
    font-family: Poppins,sans-serif;
    scroll-behavior: smooth;
}
.Section{
    background-color: #3d4852; 
     height: 100%;
    background-attachment: fixed; 
     color: #20c997;
}
#welcome{
    padding-top: 20%;
}
.welcome{
  justify-content: center;
}
.section1{
  overflow-y: hidden;
  background-color: #212529;
  width: 100%;
  height: 120%;
  color: white;
}  
.opacity{
  opacity: .3;
  text-align: center;
  margin-top: 60px;
  font-size: 5rem;
  font-weight: 900;
  color: #6c757d;
}
.know{
  font-size: 40px;
  opacity: .3;
  text-align: center;
  color: white;
  position: relative; 
  top: -90px;
  
}
/* .know::after{
  content:'';
  height:4px;
  width:110px;
  background: #20c997;
  position:absolute;
  left:calc(45%);
  bottom:1px;
}*/
.flex{
  padding-top: 60px;
  font-family: Poppins,sans-serif !important;
  display: flex;
  padding-left: 130px;
  gap: 30px;
}
@media (min-width: 625px) {
  .flex{
    display: flex;
    flex-direction: row;
  }
  
}
#hoob{
  padding-left: -2px;
}
.row{
  line-height: 2rem;
  box-sizing: border-box;
  /* border: 1px solid white; */
}
.link{
  margin-top: 100px;
  margin-left: -70px;
  /* border: 1px solid white; */
  text-indent: 15px;
}
.link  li{
  display: inline-flex;
}
.link li a:hover{
  color: #20c997;
}
.about3 li{
  /* border: 1px solid white; */
  border-bottom: .5px dotted rgb(173, 165, 165);
  line-height: 3rem;
  padding-right: 9rem;
}
.about1 .about3{ 
  display: flex;
  flex-direction: column;
  margin-top: -168px;
  margin-right: 40px;
  /* border: 1px solid black;  */
  box-sizing: border-box;
  line-height: 1.8;
}
.about1 .about3 li a{
  text-decoration: none;
  color: #20c997;
}
.about1 .about3 li a:hover{
  color: coral;
}
.about1 .about3 li{
  color: #dee3e4;
}
.cv a:hover{
  color: #141f2b;
}
#social li{
  /* margin-left: -30px; */
  display: inline;
  text-indent: 2.5rem;
}
.cv a{
  display: inline-block;
  text-align: center;
  border: 1px solid white;
  margin-top: 40px;
  height: 55px;
  border-radius: 30px;
  text-decoration: none;
  padding: 14px 40px;
  color: white;
  background-color: rgb(4, 109, 74);
}
.middle{
  background-color: #3d4852;
  height: 100%;
  overflow: hidden;
}
.progres{
  display: flex;
  font-size: large;
  font-style: normal;
  font-weight: bolder;
  gap: 15px;
  line-height: 3rem;
  opacity: .7;
}
.progress-bar{
  background-color: lightsalmon !important;
}
.bottom{
  background-color:  #212529 ;
  overflow: hidden;
  height: 110%;
}
.Contact{
  font-family: Poppins,sans-serif !important;
  display: flex;
  color: rgb(247, 233, 233);
  line-height: 1.9;
  text-indent: 3px;
  margin-top: 70px;
}
